*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body {
    background: hsl(225, 100%, 94%);
    font-size: 16px;
    background-color: hsl(225, 38%, 84%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
      background-image: url(images/pattern-background-desktop.svg);
      background-repeat:no-repeat;
      background-position: top center;
      background-size: cover;
}
.container{
    max-width: 350px;
    margin: 0 auto;
}
.conatainer1{
    background-color:hsl(225, 100%, 98%);
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.container_price{
    height: 70px;
    background-color:hsl(225, 100%, 98%);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
    align-items: center;
    border-radius: 10px;
    filter: drop-shadow(2px 2px 2px #87d5d8);
    margin: 5px 25px;
    font-size: 15px;
}
button{
    background-color:none;
    border: none;
    color: hsl(224, 23%, 55%);
    border-radius: 5px;
    height: 2rem;
    font-size: .9rem;
    margin: 5px ;
    filter: drop-shadow(2px 2px 2px #87d5d8);
    margin: 8px 40px;
    font-weight: 700;
    cursor: pointer;
}
.container_text{
    text-align: center;
    line-height: 1.5rem;
    margin: 20px 0px;
    color: hsl(224, 23%, 55%);
}
h3{
    margin-top: -10px;
    color: black;
}
p{
    margin: 0 30px;
    font-weight: 600;
    color: hsl(224, 23%, 55%);
}
span{
    color: black;

}

.button1 {
    
    background-color: hsl(245, 75%, 52%);
    color: black;
    color: white;
}
a:hover {
    opacity: 0.6;
    text-decoration: none;
}
.button2:hover {
    color: black;
}