*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body {
    background-color: hsl(225, 38%, 84%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
      background-image: url(images/pattern-background-desktop.svg);
}
.container{
    max-width: 350px;
    margin: 0 auto;
}
.conatainer1{
    background-color:hsl(225, 100%, 98%);
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.container_price{
    height: 70px;
    background-color:hsl(225, 100%, 98%);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
    align-items: center;
    border-radius: 10px;
    filter: drop-shadow(2px 2px 2px #87d5d8);
    margin: 5px 25px;
}
.container_price img{
    width: 50px;
    padding: 15px;
    border-radius: 20px;
    background-color: hsl(224, 23%, 55%);
}
button{
    background-color: hsl(245, 75%, 52%);
    border: none;
    color: white;
    border-radius: 5px;
    height: 2rem;
    font-size: .9rem;
    margin: 5px ;
    filter: drop-shadow(2px 2px 2px #87d5d8);
    margin: 8px 40px;
    font-weight: 700;
    color:white;
}
.container_text{
    text-align: center;
    line-height: 1.5rem;
    margin: 20px 0px;
    color: hsl(224, 23%, 55%);
}
h3{
    margin-top: -10px;
    color: black;
}
p{
    margin: 0 30px;
    font-weight: 600;
    color: hsl(224, 23%, 55%);
}
span{
    color: black;
}

.button2 {
    background-color: #eef6f8;
    color: black;
    color: hsl(224, 23%, 55%);
}